@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@400;600&display=swap");

:root {
  --backgroundColor: #222831;
  --fontColor: #eeeeee;
  --iconBackground: #00adb5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-family: "Tourney", cursive;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 4rem;
  margin: 2rem 0;
}

.main-section {
  display: flex;
}

.player {
  display: flex;
  flex-direction: column;
}

.icons {
  display: block;
  max-width: 6.5rem;
  background-color: var(--iconBackground);
  margin: 0.85rem;
  border: 3px solid transparent;
  border-radius: 50%;
  padding: 0.5rem;
}

.icons-holder {
  display: flex;
}
.icons-holder-user {
  display: flex;
  flex-direction: row-reverse;
}

.icons-holder-user img {
  transform: scaleX(-1);
}

.sub-heading {
  font-size: 1.8rem;
  align-self: center;
  margin-bottom: 2rem;
}

.chosen-img-holder {
  margin: 0 5rem;
  align-self: center;
  background-color: var(--iconBackground);
  border: 3px solid transparent;
  border-radius: 50%;
  padding: 0.5rem;
  height: 227px;
  width: 227px;
}

.chosen-img {
  width: 200px;
}

.chosen-img-computer {
  display: none;
}

.chosen-img-user {
  display: none;
}

.btn {
  width: 55%;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  background-color: var(--iconBackground);
  border-radius: 30px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(183, 100%, 20%);
  animation: btn 200ms linear 0s 1 normal forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@keyframes btn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

img:hover {
  cursor: pointer;
}

.icons-user img:hover {
  border-color: #ffff00;
  background-color: hsl(183, 100%, 20%);
  animation: iconAnim 100ms linear 0s 1 normal forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes iconAnim {
  0% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(-1.1);
  }
}
.message {
  width: 304px;
  height: 72px;
}

.output {
  display: none;
  background-color: #393e46;
  max-width: 60%;
  opacity: 0.6;
  text-align: center;
  position: fixed;
  padding: 2rem;
  border-radius: 30px;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 0);
}

.while-hidden-container {
  filter: blur(3px);
  pointer-events: none;
}

.while-not-hidden-container {
  filter: blur(0px);
  pointer-events: initial;
}

.social a i{
  margin-top: 4rem;
  color: white;
  width: 2.5rem;
}

@media screen and (max-width: 1100px) {
  .main-section {
    flex-direction: column;
  }

  .heading {
    max-width: 95%;
    text-align: center;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    font-size: 3rem;
  }

  .sub-heading {
    margin-bottom: 0;
    font-size: 1.2rem;
    justify-self: flex-end;
  }

  .icons-holder {
    flex-direction: column;
  }

  .icons-list {
    display: flex;
    justify-content: center;
  }

  .icons {
    display: block;
    max-width: 4.5rem;
    background-color: var(--iconBackground);
    margin: 0.85rem;
    border: 3px solid transparent;
    border-radius: 50%;
    padding: 0.5rem;
  }

  .chosen-img {
    width: 170px;
    margin: 0 auto;
  }
  .chosen-img-holder {
    /* max-width: 7rem; */
    background-color: var(--iconBackground);
    border-radius: 50%;
    padding: 0.5rem;
  }

  .icons-list img {
    margin: 0.4rem;
  }

  .icons-holder-user {
    flex-direction: column-reverse;
  }

  .icons-holder-user img {
    transform: rotate(-90deg);
  }

  .icons-holder-computer img {
    transform: rotate(90deg);
  }

  .icons-user img:hover {
    border-color: #ffff00;
    background-color: hsl(183, 100%, 20%);
    animation: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .player-user {
    flex-direction: column-reverse;
  }

  .main-section {
    gap: 1rem;
  }

  .btn {
    width: 90%;
    font-size: 1.2rem;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    background-color: var(--iconBackground);
    border-radius: 30px;
  }
  .message {
    font-size: 2rem;
  }

  .btn {
    font-size: 1rem;
  }
}
